/dmenu_steam/.dmenu_steam/games.xml
/term/.term/termState
/term/.term/windowid

#Only include sublime settings
/sublime3/.config/sublime-text-3/*
!/sublime3/.config/sublime-text-3/Packages
/sublime3/.config/sublime-text-3/Packages/*
!/sublime3/.config/sublime-text-3/Packages/User
/sublime3/.config/sublime-text-3/Packages/User/*
!/sublime3/.config/sublime-text-3/Packages/User/*.sublime-settings

#Secrets
/secrets
