
dzen2.font:		xft:Tewi:size=11:antialias=true
dzen2.foreground:	#22EE11
dzeb2.background:	#181818

!!! URxvt !!!

! Extensions
URxvt.perl-ext-common: default,clipboard

! Coloring and such
URxvt.depth: 32
URxvt.background: [75]#000000
URxvt*foreground: green

! Scrolling
URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Font stuff
URxvt.font: xft:DejaVu Sans Mono for Powerline:size=11

! Copy paste
URxvt.iso14755: False
URxvt.clipboard.autocopy: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
